@import url(../css-components/general-styles.css);
@import url(../css-components/header.css);
@import url(../css-components/lateral-side.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main {
    flex-direction: column;
}

.containers {
    display: Flex;
    height: 90%;
}

.containers-content {
    background-color: rgb(243, 243, 243);
    width: 100%;
}

/* 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

/*estilos para botones*/

.order-buttons h1 {
    font-weight: light;
    color: #3e1040;
}

.order-buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.buttons {
    display: flex;
    gap: 10px;
}

.export,
.import {
    border: 2px solid rgb(143, 0, 179);
    font-size: 20px;
    color: rgb(143, 0, 179);
    border-radius: 5px;
    padding: 5px;
}

.new {
    border: 2px solid rgb(143, 0, 179);
    background-color: rgb(143, 0, 179);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
}