@import url(/css/general-styles.css);
@import url(/css/header.css);
@import url(/css/aside.css);

main {
    flex-direction: column;
}

.lateral_side {
    background: linear-gradient(#386b16, #02883a);
}

.containers {
    display: flex;
    height: 90%;
}

.content {
    width: 100%;
    padding: 15px;
}

.page_content {
    border-radius: 5px;
    scrollbar-width: none;
    background-color: white;
    min-height: 100%;
    padding: 20px;
    height: 100%;
    overflow: auto;
}