@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #EDF0F2;
    width: 100vh;
    height: 100vh;
}

/* .login form,
.login img {
    border: red 2px solid;
} */

.login {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 500px;
    display: flex;
    border-radius: 12px;

}

.login form {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 0;

    width: 70%;
    height: 100%;
}

label {
    font-weight: 500;
    color: #101540;
}


.input {
    border-radius: 4px;
    border: none;
    border: 1px solid #c6c8ca;
    background-color: #EDF0F2;
    height: 48px;
    padding-left: 10px;
    /* width: 200px; */
}


.input-packed {
    display: flex;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 0 0 5px 0;
}

.input-group input {
    width: 350px;
}

/* input::placeholder {
    padding-left: 10px;
} */

.login-btn {
    font-weight: 300;
    border: none;
    border-radius: 6px;
    width: 200px;
    height: 45px;
    font-size: 14px;
    color: white;
    align-content: center;
    text-align: center;
    text-decoration: none;
    background-color: #101540;
}

.login-btn:hover {
    cursor: pointer;
}

.createAccount {
    color: #131313;
    font-weight: 600;
    display: inline-flex;
    font-size: 14px;
}

.createAccount a {
    color: #101540;
    text-decoration: none;
}

/* .login form p,
a {
    margin: 20px 0 20px 0;
} */

.login form input {
    margin: 0 0 0px 0;
}

.login form img {
    width: 32px;
    height: 32px;
}

.login-image {
    margin: 30px 30px 30px 30px;
    width: 30%;
    height: 100%;
}

.login-image img {

    object-fit: contain;
    width: 100%;
    height: 100%;
}