/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos del header */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilos del logo */
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Estilos del menú */
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos del perfil */
  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }