@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vmin;
}

/**Estilos para header**/
header {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  height: 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-bars {
  color: #101540;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 5px;
}

.fa-bars:hover {
  cursor: pointer;
}

.profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 12px;
  margin-left: 6px;
}

.profile {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile p {}

.fa-magnifying-glass {
  color: #101540;
  font-size: 20px;
  border-radius: 6px;
  width: 25px;
}

.fa-bell {
  color: #101540;
  margin-top: 5px;
  margin-right: 15px;
  font-size: 20px;
}

.fa-caret-down {
  margin-top: 6px;
}

/**Estilos lateral side**/
.lateral_side {
  padding: 2px 0 2px 0;
  background-color: #101540;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}

.lateral_side p {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.lateral_side a {
  height: 10%;
  padding: 10px;
  align-items: center;
  display: flex;
  gap: 10px;
  transition: 0.5s;
  text-decoration: none;
}

.icons {
  height: 10%;
  padding: 10px;
  align-items: center;
  display: flex;
  gap: 10px;
  transition: 0.5s;
}


.lateral_side .icons:hover,
a:hover {
  cursor: pointer;
  background-color: rgb(94, 94, 155);
  border-radius: 5px;

  p,
  i {
    transition: 0.5s;
    scale: 1.1;
  }
}

.fa-table,
.fa-table-list,
.fa-boxes-stacked,
.fa-money-bill-trend-up,
.fa-rectangle-list,
.fa-users,
.fa-right-from-bracket {
  color: #ffffff;
  font-size: 26px;
}


/**Containers estilos**/

.containers {
  display: flex;
  height: 90%;
}

.dashboard {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background-color: rgb(240, 240, 250);
  padding: 20px;
  overflow: auto;
}

.stats {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
  width: 100%;
}

.stat {
  background-color: #ffffff;
  padding: 10px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.411);
  width: 22.5%;
}



.fa-plus {
  color: rgb(25, 207, 25);
  margin-left: 13px;
  margin-right: 13px;
}

.icon {
  font-size: 24px;
}

.value {
  font-size: 30px;
}

.label {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

/** imagen grafica barras estilo**/
.chart {
  width: 55%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.493);
  padding: 30px;
  background-color: #ffffff;
}

.chart img {
  width: 100%;
  height: auto;
}

/** imagen grafica circular estilo**/
.top-products {
  width: 42%;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.494) 0px 2px 5px;
  padding: 30px;
  background-color: rgb(255, 255, 255);

}

.top-products h3 {}

.circle {
  width: 100%;
  height: 85%;
  background-color: rgb(8, 8, 78);
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*tabla stock y top selling*/
.stock-alert {
  grid-column: 3 / span 2;
  width: 55%;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.494) 0px 2px 5px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
}

.Top-selling-Products {
  width: 42%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.493);
  padding: 30px;

  background-color: #ffffff;
  padding-left: 20px;
}

.Stock-alert-table table,
.Top-selling-Products-table table {
  width: 100%;
  border-spacing: 0;
}

.Stock-alert-table,
.Top-selling-Products-table {
  border-collapse: collapse;
  width: 100%;
}

.Stock-alert-table th,
.Stock-alert-table td,
.Top-selling-Products-table th,
.Top-selling-Products-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #101540;
}

.board1,
.board2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.boards {
  display: flex;
  grid-column: 1 / -1;
  gap: 20px;
  flex-direction: column;
}





.checkboxtoggler {
  width: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  cursor: pointer;
}

.line-1 {
  background: black;
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
  -webkit-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
  -ms-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
  transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
}

.line-2 {
  background: black;
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
  -webkit-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  -ms-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  transform: rotate(-45deg) translateY(0em) translateX(0.1em);

}

.line-3 {
  background: black;
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
  transform: scaleX(0);
  transform-origin: left;
}

#toggleChecker {
  height: 3em;
  width: 100%;
  display: none;
}

#toggleChecker:checked+#togglerLable .checkboxtoggler .line-1 {
  -webkit-transform: rotate(0) translateY(0) translateX(-0);
  -ms-transform: rotate(0) translateY(0) translateX(-0);
  transform: rotate(0) translateY(0) translateX(0);
}

#toggleChecker:checked+#togglerLable .checkboxtoggler .line-2 {
  -webkit-transform: rotate(0) translateY(0em) translateX(0);
  -ms-transform: rotate(0) translateY(0em) translateX(0);
  transform: rotate(0) translateY(0em) translateX(0);
}

#toggleChecker:checked+#togglerLable .checkboxtoggler .line-3 {
  transform: scaleX(1);
  transform-origin: left;
}